@import "./sass/main.scss";

.app {
  background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sizer {
  width: 100%;
  max-width: 400px;
  margin: 0 40px;
}

.timer {
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px rgba($color: white, $alpha: 0.2);
  position: relative;
  padding-bottom: 100%;

  @include media(sm) {
    box-shadow: 0px 0px 0px 10px rgba($color: white, $alpha: 0.2);
  }

  &__pulse {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: opacity 0.5s ease-out;
    box-shadow: 0px 0px 0px 0px black;
    opacity: 0.1;

    &--active {
      animation: pulse 2s ease-out infinite;
    }

    &--secondary {
      opacity: 0.3;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    &-time {
      font-size: 50px;
      font-weight: 100;
      margin-bottom: 5px;

      @include media(sm) {
        font-size: 80px;
        margin-bottom: 10px;
      }
    }

    &-controls {
      &-button {
        width: 40px;
        height: 40px;
        border: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        background-color: transparent;
        cursor: pointer;

        &-icon {
          font-size: 14px;

          @include media(sm) {
            font-size: inherit;
          }
        }

        &[disabled] {
          opacity: 0.3;
        }

        &:not(:last-child) {
          margin-right: 5px;

          @include media(sm) {
            margin-right: 15px;
          }
        }
      }
    }
  }
}

@keyframes pulse {
  100% {
    box-shadow: 0px 0px 0px 50vh rgba($color: black, $alpha: 0);
  }
}
